@using Microsoft.AspNetCore.Blazor.Browser.Interop
@using Names.Web.Helpers
@using Names.Domain.Entities
@using Names.Web.Model
@using Names.Web.Enums
@using Names.Web
@inject Names.Web.EventHandlers.ProvinceChangeHandler ProvinceChangeHandler
@inject Names.Web.EventHandlers.YearChangeHandler YearChangeHandler
@inject Names.Web.EventHandlers.QuantityTypeChangeHandler QuantityTypeChangeHandler
@inject Names.Web.EventHandlers.ChartStatusHandler ChartStatusHandler
@inject Names.Web.ApiClients.MixedApiClient MixedApiClient
@inject Names.Web.ApiClients.NameApiClient NameApiClient

<h1>Cien años de nombres</h1>

<p>Pincha en un nombre para ver su evolución</p>

@if (names == null)
{
    <div class="preloader">
        <div class="preloader__container">
            <i class="preloader__element"></i>
            <i class="preloader__element"></i>
        </div>
    </div>
}
else
{
    <div class="tagcloud">
        <div>
            @foreach (var name in names)
            {
                <a href="#" onclick="@(() => ToggleName(name))" style="@NameHelper.GetStyle(name.Total, max, min)" class="@name.Class">@name.Value</a>
            }
        </div>
    </div>
}

@functions {
    public TagName[] names;
    public int max;
    public int min;

    private int _province;
    private int _year;
    private QuantityType _quantityType = QuantityType.Total;

    protected override async Task OnInitAsync()
    {
        names = await NameApiClient.GetAll();
        CalculateMaxMin();
        ProvinceChangeHandler.ProvinceChanged += new EventHandler<int>(this.OnProvinceChanged);
        YearChangeHandler.YearChanged += new EventHandler<int>(this.OnYearChanged);
        QuantityTypeChangeHandler.QuantityTypeChanged += new EventHandler<QuantityType>(this.OnQuantityTypeChanged);
    }

    public void ToggleName(TagName name)
    {
        if (name.IsClicked)
        {
            name.IsClicked = false;
            RemoveName(name);
        }
        else
        {
            ChartStatusHandler.ChangeTo(ChartStatusType.Loading);
            name.IsClicked = true;
            AddName(name);
        }
    }

    private async void OnProvinceChanged(object sender, int provinceId)
    {
        Reset();
        _province = provinceId;
        await GetNames();
    }

    private async void OnYearChanged(object sender, int yearId)
    {
        Reset();
        _year = yearId;
        await GetNames();
    }

    private void OnQuantityTypeChanged(object sender, QuantityType quantityType)
    {
        _quantityType = quantityType;
        var selectedNames = names.Where(n => n.IsClicked).ToList();
        foreach (var selectedName in selectedNames)
        {
            var data = ChartHelper.NormalizeQuantities(selectedName.Quantities, _quantityType);
            ReplaceDataset(selectedName.Id, data);
        }
    }

    private void Reset()
    {
        names = null;
        RemoveAllDatasets();
        this.StateHasChanged();
    }

    private void CalculateMaxMin()
    {
        max = names.Select(x => x.Total).Aggregate((acc, x) => acc > x ? acc : x);
        min = names.Select(x => x.Total).Aggregate((acc, x) => acc < x ? acc : x);
    }

    private async void AddName(TagName name)
    {
        var quantities = await MixedApiClient.GetQuantities(name, _province);
        name.Quantities = quantities;
        var data = ChartHelper.NormalizeQuantities(quantities, _quantityType);

        AddDataset(name.Id, name.Value, data);
        ChartStatusHandler.ChangeTo(ChartStatusType.Loaded);
    }

    private async Task GetNames()
    {
        names = await MixedApiClient.GetNames(_province, _year);
        CalculateMaxMin();
        ChartStatusHandler.ChangeTo(ChartStatusType.Empty);
        this.StateHasChanged();
    }

    private void RemoveName(TagName name)
    {
        RemoveDataset(name.Id);
    }

    private void AddDataset(int id, string name, int[] data)
    {
        RegisteredFunction.Invoke<bool>("addDataset", id, name, data);
    }

    private void RemoveDataset(int id)
    {
        RegisteredFunction.Invoke<bool>("removeDataset", id);
    }

    private void ReplaceDataset(int id, int[] data)
    {
        RegisteredFunction.Invoke<bool>("replaceDataset", id, data);
    }

    private void RemoveAllDatasets()
    {
        RegisteredFunction.Invoke<bool>("removeAllDatasets");
    }
}
