@page "/fetchdata"
@inject HttpClient Http
@using Names.Domain.Entities
@using Names.Web

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (names == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div>
        @foreach (var name in names)
        {
            <span>@name.Value</span>
        }
    </div>
}

@functions {
    Name[] names;

    protected override async Task OnInitAsync()
    {
        names = await Http.GetJsonAsync<Name[]>(Config.BaseUrl + "/api/names");
    }
}
