@page "/"
@inject HttpClient Http
@inject Names.Web.ApiClients.YearApiClient YearApiClient
@using Microsoft.AspNetCore.Blazor.Browser.Interop
@using Names.Domain.Entities

<div class="header">
    <ProvinceSelector />
</div>

<canvas class="chart" id="canvas"></canvas>

<div>
    <div class="footer">
        <p><a href="http://www.ine.es/tnombres/formGeneral.do?vista=1">Fuente de datos: Sitio web del INE (www.ine.es)</a></p>
        <p><a href="https://dataaddict.fr/prenoms/">Basado en un proyecto de Data Addict</a></p>
        <p>Sólo se muestran los nombres cuya frecuencia es mayor o igual a 20 para el total nacional. Para las provincias seleccionadas se exige además una frecuencia de al menos 5. Por esta razón, la frecuencia total nacional para algunos nombres puede no ser igual a la suma de las provincias que se muestran.</p>
        <p>Datos procedentes de la Estadística del Padrón Continuo a fecha 01/01/2016</p>

    </div>
</div>

@functions {
    protected override void OnAfterRender()
    {
        RenderChart();
    }

    protected void RenderChart()
    {
        RegisteredFunction.Invoke<bool>("renderChart");
    }
}
